<!DOCTYPE html>
<html>
<head>
  <title>Lista de Livros</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-4">Lista de Livros</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Título</th>
          <th>Editora</th>
          <th>Ano</th>
          <th>Quantidade</th>
          <th>Quantidade Disponível</th>
        </tr>
      </thead>
      <tbody>
           {% for book in book %}
          <tr>
            <td>{{ book.title}}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.total_quantity }}</td>
            <td>{{ book.available_quantity }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <a class="btn btn-outline-danger" href="/">Voltar para o inicio</a>
    </table>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
