{% extends 'base.html' %}

{% block content %}
  <h2>Tabela de Usuários</h2>
  <h3>Alunos:</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Funcionários:</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
